{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Home Page</h1>

    <p>
        Welcome to Honeydukes Harry Potter Sweet Shop!
    </p>

</div>
{% endblock %}
